
body {
  padding-top:67px;
}

.welcome-wrap {
  text-align: center;
  margin: 200px 0px 400px 0px;
}

.welcome {
  font-size: 60px;
}

.select-class {
  max-width: 212px;
}

.ui-mb-20 {
  margin-bottom: 20px;
}

.ui-mb-10 {
  margin-bottom: 10px;
}

.ui-mt-10 {
  margin-top: 10px;
}

.ui-ml-10 {
  margin-left: 10px;
}

.ui-mr-10 {
  margin-right: 10px;
}

.ui-pagination {
  margin-top: 20px;
  text-align: center;
}

.el-upload .el-upload__input {
  display: none;
}

.ui-text--success {
  color: #67C23A;
}

.ui-text--warining {
  color: #E6A23C;
}

.ui-text--danger {
  color: #F56C6C;
}

.ui-text--info {
  color: #909399;
}

.el-tabs__new-tab {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #0079ff;
}

.el-select--long {
  width: 374px;
}

.el-message-box__content {
  max-height: 500px;
  overflow: scroll;
}
